<div>
  <h1>Task Index</h1>
  <br/>
</div>

<div class="row">
  <div class="col-12">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">#1. Book CRUD</h5>
          <p class="card-text">Book CRUD operations.</p>
          <%= link_to "Go to Task", books_path, class: "btn btn-primary"%>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">#2. Backup Book</h5>
          <p class="card-text">Backup Book Listing.</p>
          <%= link_to "Go to Task", backup_books_path, class: "btn btn-primary"%>
        </div>
      </div>
    </div>
  </div>
</div>
